<% @title = "#{@contact.name} / #{@group.name}" %>

<p class="actions">
  <%= link_to 'Back to contacts list', group_contacts_path(@group) %>
  <%= link_to 'Edit contact', edit_group_contact_path(@group, @contact) %>
</p>

<%= image_tag @contact.photo.url(:normal) %>

<ul class="contact-info">
  <li>Phone: <%= @contact.phone.empty? ? 'Unknown' : @contact.phone %></li>
  <li>Gender: <%= @contact.gender_display %></li>
</ul>
