<!DOCTYPE html>
<html>
<head>
  <title><%= title %> - coBook!</title>
  <%= stylesheet_link_tag 'styles' %>
  <%= formtastic_stylesheet_link_tag %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1><a href="/">coBook!</a></h1>
      <ul class="hmenu">
      <% if signed_in? %>
        <li><%= link_to 'My contacts', contacts_path %></li>
        <li><%= link_to 'Sign out', sign_out_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in', sign_in_path %></li>
      <% end %>
      </ul>
    </div>
    <div class="body">
      <h2><%= title :detail %></h2>
      <% flash.each do |name, msg| %>
         <%= content_tag :div, msg, :class => "flash #{name}" %>
       <% end %> 
      <%= yield %>
    </div>
    <div class="footer">
      &copy; 2010 by adwo.
    </div>
</body>
</html>
