<!DOCTYPE html>
<html>
<head>
  <title><%= title %> - coBook!</title>
  <%= stylesheet_link_tag 'styles' %>
  <%= formtastic_stylesheet_link_tag %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1><a href="/">coBook!</a></h1>
      <% if signed_in? %>
        <%= link_to 'Sign out', sign_out_path, :method => :delete %>
      <% end %>
    </div>
    <div class="body">
      <h2><%= title :detail %></h2>
      <%= yield %>
    </div>
    <div class="footer">
      &copy; 2010 by adwo.
    </div>
</body>
</html>
